{% block weather %}
{% endblock weather %}
            {% block low %}
            {% endblock low %}

            {% block fos_user_content %}

            {% endblock fos_user_content %}

<div class="row">
    <div class="col-xs-12 .col-md-8">
        {% include ('Calendar.html.twig') %}
    </div>
    <div class="col-xs-6 col-md-4">
        {% block test4 %}
        {% endblock test4 %}
    </div>
</div>





{% block test3 %}

{% endblock test3 %}

            {% block erreur %}
            {% endblock erreur %}










                {% block div %}

                {% endblock %}

            {% block test %}

            {% endblock test %}
            {% block test2 %}
            {% endblock test2 %}






